---
layout: default
---

<span id="open_all" class="button">open all</span>
<span id="close_all" class="button">close all</span><br/>

{% assign labels_by_hungarian = site.data.spices.labels | sort: "hungarian" %}
{% for spice in labels_by_hungarian %}
    {% if spice.ingredients %}
        <details open="open">
            <summary>{{ spice.hungarian }}</summary>
            {% include label.html %}
        </details>
    {% else %}
        {% for preprocess in site.data.spices.preprocesses %}
            {% comment %}<code>{{ spice }}</code>{% endcomment %}

            <details open="open">
                <summary>{{ spice.hungarian }}</summary>
                {% include label.html %}
            </details>
        {% endfor %}
    {% endif %}
{% endfor %}

<script type="text/javascript">
    let open_all = document.getElementById("open_all");
    let close_all = document.getElementById("close_all");

    let all_details = document.getElementsByTagName("details");

    open_all.onclick = function () {
        for (let i = 0; i < all_details.length; i++) {
            all_details[i].open = true;
        }
    }
    close_all.onclick = function () {
        for (let i = 0; i < all_details.length; i++) {
            all_details[i].open = false;
        }
    }
</script>