---
---

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

//https://www.colourlovers.com/palette/56122/Sweet_Lolly
//https://www.colourlovers.com/palette/1309168/pumpkin
//https://www.colourlovers.com/palette/1081510/Nature_Walk

body {
  width: 200mm; //210mm the A4 page
  border: black solid 1pt;
  padding: .25cm;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

details {
  display: inline-block;
//  border: magenta solid 1pt;
  margin: .5mm;
  padding: 0;
}

summary {
//  border: magenta solid 1pt;
  margin: 0;
  padding: 0;
}

div.label {
  display: inline-block;
  vertical-align: top;
  max-width: 70mm;
  max-height: 20mm;
  min-width: 40mm;
  min-height: 20mm;
  padding: 1mm;
  margin: 0;
  border: lightgray dotted .3pt;
  text-align: center;
  font-size: 12pt;
}

span.button {
  display: inline-block;
  padding: 1mm;
  margin: 1mm;
  background: lightgray;
  border: black solid 1pt;
  cursor: pointer;
}

span.hungarian {
  font-weight: bold;
  font-variant: small-caps;
}

span.preprocess {
  //font-size: smaller;
  vertical-align: -0.1em;
}

span.ground {
  color: #00B34C;
}

span.chopped {
  color: #0074B4;
}

span.whole {
  color: #5B1D99;
}

span.mix {
  color: #FC6E3D;
}

span.english {
  font-weight: bold;
  font-variant: small-caps;
}

span.ipa {
  font-family: "Times New Roman", sans-serif;
}

span.amount {
  color: darkgray;
}

span.note {
  font-style: italic;
  font-family: serif;
}

span.ingredient {
  hyphens: auto;
}

p {
  margin: 0;
  padding: 0;
}

p.header {
  display: inline-block;
  line-height: .75;
  padding-top: 1pt;
}

p.details {
  font-style: normal;
  font-size: 8pt;
  margin-top: 1ex;
}

p.conlang {
  font-family: serif;
}

p.ingredients {
  //font-size: 6pt;
  text-align: justify;
}

.no-line-break {
  white-space: nowrap;
}